# AWS Configuration
AWS_DEFAULT_REGION=us-east-1
AWS_PROFILE=default

# Pipeline Configuration
S3_BUCKET=de-learning-jsgaldamez-2026
GLUE_DATABASE=de_learning
GLUE_TABLE=crypto_raw

# Pipeline Settings
PAGINAS_A_EXTRAER=1
MONEDA_BASE=usd
